<!DOCTYPE html>
<html lang="en-us">
{{ partial "header" . }}
<body>
<main>
    <h1>YoSQL</h1>
    <p>
        <a href="https://github.com/krisajenkins/yesql">Yesql</a> inspired build tool that bridges the world of Java &
        SQL with zero runtime dependencies. It expects a set of .sql files as inputs and generates the required Java
        code to call the SQL statements define in those .sql files.
    </p>
    <p>
        Besides the generic CLI, support for Maven and Gradle is <a
            href="https://github.com/sebhoss/yosql/milestones?direction=asc&sort=due_date&state=open">planned</a>.
    </p>
</main>
{{ partial "footer" . }}
</body>
</html>
