{{ block "footer" . }}
{{- $licenseName := .Site.Params.licenseName | default "CC0" -}}
{{- $licenseURL := .Site.Params.licenseURL | default "https://creativecommons.org/publicdomain/zero/1.0/" -}}
<footer id="footer">
    <p xmlns:dct="http://purl.org/dc/terms/" xmlns:vcard="http://www.w3.org/2001/vcard-rdf/3.0#">
        <a rel="license" href="{{ $licenseURL }}">
            {{- if .Site.Params.licenseName -}}
                {{ $licenseName }}
            {{- else -}}
                <img src="{{ "/images/cc0.png" | absURL }}" style="border-style: none;" alt="CC0" width="88px" height="31px" />
            {{- end -}}
        </a><br />
        <a rel="dct:publisher" href="{{ "/" | absLangURL }}">
            <span property="dct:title">{{ .Site.Params.author }}</span>
        </a>
        publishes
        <span property="dct:title">{{ .Site.Params.work }}</span>
        under the {{ $licenseName }} licence, from:
        <span property="vcard:Country" datatype="dct:ISO3166" content="EN" about="{{ "/" | absLangURL }}">
      Germany
    </span>
    </p>
</footer>
{{ end }}
