/*
 * SPDX-FileCopyrightText: The yosql Authors
 * SPDX-License-Identifier: CC0-1.0
 */

#site {
    grid-template-rows: 100px auto 100px;
    grid-template-columns: 250px 1fr;
    grid-template-areas: "header header" "navigation content" "navigation footer";
}

#header {
    visibility: visible;
}

#content img {
    max-width: calc(90vw - 250px);
}

#content pre {
    max-width: 80ch;
    margin: auto
}
