/*
 * SPDX-FileCopyrightText: The yosql Authors
 * SPDX-License-Identifier: CC0-1.0
 */

#site {
    grid-template-rows: 100px auto auto 100px;
    grid-template-areas: "header" "content" "navigation" "footer";
}

#header {
    visibility: visible;
}
